<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Course</title>
</head>

<body>
    <%- include('header.ejs') %>

        <a href="/signout" class="bg-lime-300">Signout</a>

        <form action="/addCourse" method="post">
            <input class="border-2 ml-2" type="text" placeholder="Course Name" name="name" required>
            <input class="border-2 ml-2" type="text" name="description" required>
            <button class=" ml-2" type="submit">Add</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>

        <%- include('footer.ejs') %>
</body>

</html>