<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <%- include('insideHead') %>
</head>

<body class="text-center"> 
    <%- include('navbar.ejs', { request: request }) %>
    
    <h1 class="font-bold">Change Password</h1>

    <%- include('notifications') %>

        <form method="post" action="/changepassword">
            <label for="currentPassword">Current Password:</label>
            <input class="border-2 mt-2" type="password" id="currentPassword" name="currentPassword" required>
            <br>
            <label for="newPassword">New Password:</label>
            <input class="border-2 mt-2" type="password" id="newPassword" name="newPassword" required>
            <br>
            <label for="confirmPassword">Confirm Password:</label>
            <input class="border-2 mt-2" type="password" id="confirmPassword" name="confirmPassword" required>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="bg-lime-300 hover:bg-lime-400" type="submit">Change Password</button>
        </form>
</body>

</html>