<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="text-center">
    <a href="/signout" class="bg-lime-300">Signout</a><br>
    <a href="/dashboard" class="bg-lime-300">Home</a>
    <h1><%= course.name %></h1>
    <h3>Chapters</h3>
    <p>Click on below Chapters to view Pages...</p>
    <hr>
    <table>
        <tr>
            <th>
                S.No
            </th>
            <th>
                Chapter Name
            </th>
        </tr>
        <% for(var i=0; i < chapters.length ;i++){ %>
            <tr onclick="window.open('/chapters/<%= chapters[i].id %>', '_blank');" style="cursor: pointer;">
                <td>
                  <%= chapters[i].id %>
                </td>
                <td class="group flex items-center">
                  <%= chapters[i].name %>
                </td>
              </tr>
              

            <% } %>
    </table>
</body>
</html>