<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>LMS</title>
    <%- include('insideHead') %>
</head>
<body class="text-center">
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <h1 class="text-3xl font-bold mt-4 hover:cursor-pointer" onclick="window.location.href='/'">Learning Management System</h1><br>
    <div class="mt-4 sm:mx-auto sm:w-full sm:max-w-sm">
        <a class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" href="/login">Login</a><br/><br>
        <a class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" href="/signup">Sign up</a>
    </div>
    <%- include('notifications') %>
    </div>
    <%- include('footer') %>
</body>
</html>