<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Courses</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <br>
    <a href="/signout" class="bg-lime-300">Signout</a>
    <a href="/dashboard" class="bg-lime-300">Home</a>
    <br>
    <%- include('notifications.ejs') %>
    <br>
    <h3>Your Courses...</h3>
    <br>
    <table>
        <tr>
            <th>
                Course.No
            </th>
            <th>
                Course Name
            </th>
        </tr>
        <% for(var i=0; i < courses.length ;i++){ %>
            <tr onclick="window.open('/courses/<%= courses[i].id %>', '_blank');" style="cursor: pointer;">
                <td>
                  <%= courses[i].id %>
                </td>
                <td class="group flex items-center">
                  <%= courses[i].name %>
                </td>
              </tr>           
        <% } %>
    </table>
</body>
</html>