body {
    background-color: azure !important;
}

/* input, textarea {
    background-color: bisque;
    border: 1px solid gray;
} */

hr {
    border: 1px gray;
}

#editor {
    max-width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: bisque !important;
}

.ql-toolbar.ql-snow {
    /* background-color: bisque; */
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.listDiv {
    max-width: 80% !important;
    margin-left: auto;
    margin-right: auto;
}

.notification {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}